@import 'header.css';
@import 'section.css';
@import 'mainSection.css';
@import 'title.css';
@import 'footer.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 173, 216);
}

div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #000000;
    color: white;
    text-align: center;
}